html,
body {
  padding: 0;
  margin: 0;
  color: $color-black;
  // background-color: $color-beige;
  background-image: url('~@/assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
}

#app {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.container {
  position: relative;
  width: 100%;
  transition: all .5s;

  &.is-reduce {
    width: 75%;
  }
}

.swiper-container {
  height: calc(100vh - 55px);
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  width: 70%;
  height: 100%;
}

.row {
  display: flex;
}

.u-column {
  flex-direction: column;
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: 60%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-2 {
  width: 20%;
}