$color-white:   #ffffff;
$color-beige:   #fcfff5;
$color-black:   #333333;
$color-grey:    #c1c1c1;
$color-yellow:  #f6d585;
$color-red:     #FD7062;
$color-green:   #F3F8F3;
$color-purple:  #808ae5;
$color-blue:    #50807C;