.c-loading {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform: translateY(0);
  transition: all 1s;

  &__line {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  &__close {
    transform: translateY(-100%);
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    border: none;
    color: $color-black;
    letter-spacing: .02rem;
    font-family: 'Montserrat', sans-serif;
    background-color: $color-white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}