.c-btn-music {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 30px;
  width: 30px;
  height: 30px;

  .line {
    display: block;
    position: absolute;
    bottom: 0;
    width: 3px;
    height: 20px;
    background-color: black;
  

    &:nth-child(1) {
      margin-left: 6px;
      animation: 1s line1 0s infinite ease-in-out;
    }
    &:nth-child(2) {
      margin-left: 12px;
      animation: 1.6s line2 0s infinite ease-in-out;
    }
    &:nth-child(3) {
      animation: 1.3s line3 0s infinite ease-in-out;
    }
  }
}

@keyframes line1 {
  0% {
    height: 3px;
  }

  50% {
    height: 16px;
  }

  100% {
    height: 3px;
  }
}

@keyframes line2 {
  0% {
    height: 3px;
  }

  50% {
    height: 17px;
  }

  100% {
    height: 3px;
  }
}

@keyframes line3 {
  0% {
    height: 3px;
  }

  50% {
    height: 15px;
  }

  100% {
    height: 3px;
  }
}