.slider-1 {
  height: 100vh;
}

.btn-next {
  z-index: 2;
  position: absolute;
  right: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);

  .content {
    position: absolute;
    @include absolute-position;
    background-image: url('https://global-uploads.webflow.com/5c9c9c646cf0969b319f264f/5d14818767ac37ac193eccf4_circle-container.svg');
    width: 50px;
    height: 50px;
  }

  .arrow {
    position: absolute;
    @include absolute-position;
    background-image: url('https://global-uploads.webflow.com/5c9c9c646cf0969b319f264f/5d24aa633c6cae18850994a2_arrow.svg');
    width: 20px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.swiper-button-next {
  color: transparent;

  &:focus {
    outline: none;
  }
}