.btn-tips {
  z-index: 2;
  position: absolute;
  right: 30px;
  bottom: 30px;

  &:hover {
    cursor: pointer;
  }
}

.content-tips {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: calc(100vh - 100px);
  width: 25%;
  padding: 70px 30px 30px 30px;
  box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.25);
  background-color: white;

  transform: translateX(100%);
  transition: all .5s;

  overflow-y: scroll;

  &.is-open {
    transform: translateX(0%);
  }

  .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  p+p {
    margin-top: 20px;
  }
}